:root {
    --bg-clr: whitesmoke;
    --txt-title: rgb(23, 28, 40);
    --txt-paragraph: rgb(20, 35, 48);
}

html {
    font-size: 18px;
    color: rgb(8, 8, 24);
}

h1,h2,h3 {
    color: var(--txt-title);
}

* {
    color: var(--txt-paragraph);
}

body {
    background-color: var(--bg-clr);
}

.complete {
    text-decoration: line-through;
}

/* https://www.w3schools.com/cssref/sel_focus.php */
input:focus {
    background-color: greenyellow;
    border: none;
    outline: none;
  }